.started-btn {
    text-decoration: none;
    background: var(--Bright-Red);
    padding: 13px 33px;
    border-radius: 50px;
    color: var(--Vary-Light-Gray);
    transition: 0.5s;
}

.started-btn:hover {
    background: hsl(12, 88%, 63%);;
}