.testimonial-section {
    display: flex;
    gap: 50px;
}

.testimonial-bg {
    width: 500px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--Vary-Light-Gray);;
    border-radius: 5px;
    position: relative;
    padding: 30px;
}

.avatar {
    width: 65px;
    position: absolute;
    top: -2rem;
}

.avatar-name {
    color: var(--Dark-Blue);
}

.testimonial-text {
    text-align: center;
    color: var(--Dark-Grayish-Blue);
}